[submodule "glepnir-nvim"]
	path = glepnir-nvim
	url = https://github.com/glepnir/nvim
[submodule "LunarVim"]
	path = LunarVim
	url = https://github.com/ChristianChiarulli/LunarVim
[submodule "NvChad"]
	path = NvChad
	url = https://github.com/siduck76/NvChad
[submodule "defaults.nvim"]
	path = defaults.nvim
	url = https://github.com/mjlbach/defaults.nvim
