[submodule "glepnir-nvim"]
	path = glepnir-nvim
	url = https://github.com/glepnir/nvim
[submodule "LunarVim"]
	path = LunarVim
	url = https://github.com/ChristianChiarulli/LunarVim
[submodule "NvChad"]
	path = NvChad
	url = https://github.com/siduck76/NvChad
[submodule "defaults.nvim"]
	path = defaults.nvim
	url = https://github.com/mjlbach/defaults.nvim
[submodule "awesome-neovim"]
	path = awesome-neovim
	url = https://github.com/rockerBOO/awesome-neovim
[submodule "doom-nvim"]
	path = doom-nvim
	url = https://github.com/NTBBloodbath/doom-nvim
[submodule "nv-ide"]
	path = nv-ide
	url = https://github.com/crivotz/nv-ide
[submodule "VapourNvim"]
	path = VapourNvim
	url = https://github.com/hackorum/VapourNvim
[submodule "hamsterBiscuit-nvim"]
	path = hamsterBiscuit-nvim
	url = https://github.com/hamsterBiscuit/nvim
[submodule "KyleJKC-nvim"]
	path = KyleJKC-nvim
	url = https://github.com/KyleJKC/nvim
[submodule "neovim-config"]
	path = neovim-config
	url = https://github.com/kristijanhusak/neovim-config
[submodule "ayamir-nvim"]
	path = ayamir-nvim
	url = https://github.com/ayamir/nvimdots
[submodule "skywind3000-vim"]
	path = skywind3000-vim
	url = https://github.com/skywind3000/vim-init
[submodule "avimitin-vim"]
	path = avimitin-nvim
	url = https://github.com/avimitin/nvim
[submodule "NeoCode"]
	path = NeoCode
	url = https://github.com/rafamadriz/NeoCode
