[submodule "glepnir-nvim"]
	path = glepnir-nvim
	url = https://github.com/glepnir/nvim
[submodule "LunarVim"]
	path = LunarVim
	url = https://github.com/ChristianChiarulli/LunarVim
[submodule "NvChad"]
	path = NvChad
	url = https://github.com/siduck76/NvChad
[submodule "defaults.nvim"]
	path = defaults.nvim
	url = https://github.com/mjlbach/defaults.nvim
[submodule "awesome-neovim"]
	path = awesome-neovim
	url = https://github.com/rockerBOO/awesome-neovim
[submodule "doom-nvim"]
	path = doom-nvim
	url = https://github.com/NTBBloodbath/doom-nvim
[submodule "nv-ide"]
	path = NV-ide
	url = https://github.com/crivotz/nv-ide
[submodule "VapourNvim"]
	path = VapourNvim
	url = https://github.com/hackorum/VapourNvim
[submodule "hamsterBiscuit-nvim"]
	path = hamsterBiscuit-nvim
	url = https://github.com/hamsterBiscuit/nvim
[submodule "KyleJKC-nvim"]
	path = KyleJKC-nvim
	url = https://github.com/KyleJKC/nvim
[submodule "ayamir-nvim"]
	path = ayamir-nvim
	url = https://github.com/ayamir/nvimdots
[submodule "skywind3000-vim"]
	path = skywind3000-vim
	url = https://github.com/skywind3000/vim-init
[submodule "avimitin-vim"]
	path = avimitin-nvim
	url = https://github.com/avimitin/nvim
[submodule "NeoCode"]
	path = rafamadriz-nvim
	url = https://github.com/rafamadriz/NeoCode
[submodule "ThinkVim"]
	path = ThinkVim
	url = https://github.com/imxiejie/ThinkVim
[submodule "kyoto.nvim"]
	path = kyoto-nvim
	url = https://github.com/samrath2007/kyoto.nvim
[submodule "k-vim"]
	path = k-vim
	url = https://github.com/wklken/k-vim
[submodule "jdhao-nvim"]
	path = jdhao-nvim
	url = https://github.com/jdhao/nvim-config
[submodule "lsp_treesitter_lsp.nvim"]
	path = lsp_treesitter.nvim
	url = https://github.com/nikvdp/nvim-lsp-config
